@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        --clr-blue: #ace;
        --clr-black: #000;
        --clr-bg: #fff;
        --clr-fg: #000;
    }
}
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --clr-blue: #ace;
        --clr-black: #000;
        --clr-bg: #000;
        --clr-fg: #fff;
    }
}

:root[data-theme="dark"] {
    --clr-blue: #ace;
    --clr-black: #000;
    --clr-bg: #000;
    --clr-fg: #fff;
}

:root[data-theme="light"] {
    --clr-blue: #ace;
    --clr-black: #000;
    --clr-bg: #fff;
    --clr-fg: #000;
}

body {
    background: var(--clr-bg);
    color: var(--clr-fg);
    margin: 0;
}

.splash {
    background: var(--clr-blue);
    color: var(--clr-black);
}

.splash h1 {
    margin: 0;
}

.splash img {
    height: 1em;
}

#main {
    margin: 1em;
}
